# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files and databases
*.log
*.sql
*.sqlite

# Ignore Composer dependencies
/vendor/

# Ignore environment variables
.env

# Ignore IDE and editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore XAMPP specific files
/xamppfiles/

# Ignore node_modules
/node_modules/

# Ignore npm debug files
npm-debug.log
yarn-error.log

# Ignore build directories
/build/
dist/

# Ignore cache directories
/cache/